@model Ajf.NsDataEntry.Web.Models.IndexModel

<div class="row">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken();

        <p>Kontaktperson, navn * :@Html.TextBoxFor(x => x.ContactName)</p>

        <p>Kontaktperson, tlf. (du må KUN angive dit arbejdsnummer)* :@Html.TextBoxFor(x => x.ContactPhone)</p>

        <p>Kontaktperson, email(du må KUN benytte din arbejdsmail: xx@slagelse.dk) * :@Html.TextBoxFor(x => x.ContactEmail)</p>

        <p>Institution eller skole * :@Html.DropDownListFor(x => x.InstitutionOrSchool, new SelectListItem[] { new SelectListItem() { Text = "Institution", Value = "Institution" }, new SelectListItem() { Text = "Skole", Value = "Skole" } })</p>

        <p>Skole / Institution, navn* :@Html.TextBoxFor(x => x.SchoolInstituteName)</p>

        <p>Deltagergruppe* (F.eks. '8. B') :@Html.TextBoxFor(x => x.ParticipantsGroup)</p>

        <p>Deltagere, aldersinterval* (F.eks. 4 - 6 år, eller 6 - 8 år):@Html.TextBoxFor(x => x.ParticipantsAge)</p>

        <p>Deltagere, antal* (Eksklusiv deltagende voksne):@Html.TextBoxFor(x => x.ParticipantsNumber)</p>

        <p>Ønsket arrangement * (F.eks. 'Matematik i skoven' eller 'Muselege i skoven') :@Html.TextBoxFor(x => x.DesiredEvent)</p>

        <p>Ønsket mødested :@Html.TextBoxFor(x => x.DesiredMeetingPoint)</p>

        <p>Hvornår ønskes arrangement?* (Arrangementer planlægges for halve kalenderår ad gangen) :@Html.DropDownListFor(x => x.DesiredWhen, new[] { new SelectListItem() { Text = "Forår 2020", Value = "Institution" }, new SelectListItem() { Text = "Skole", Value = "Skole" } })</p>

        <p>Ønsket dato for afholdelse :@Html.TextBoxFor(x => x.DesiredDate)</p>

        <p>Bemærkninger :@Html.TextBoxFor(x => x.Comments)</p>

        <input type="submit" name="Add" />
    }
</div>